.eldest-container {
  padding-top: 70px;
}
.error,
.errorlist {
  padding-top: 3px;
  padding-left: 0px;
  color: red;
  list-style: none;
}
.welcome-table {
  width: 90%;
}
.form-main {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.form-main-heading {
  margin-bottom: 18px;
}
.form-main .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  margin-bottom: -1px;
  border-radius: 0;
}
.form-main .form-control:focus {
  z-index: 2;
}
select#id_gender.form-control {
  border: 0;
  outline: 1px solid #ccc; 
  outline-offset:-1px;
}
.form-create-travel,
.form-edit-profile {
  max-width: 330px;
}
.form-apply-travel {
  max-width: 400px;
}
p.form-field {
  margin-bottom: 0px;
  margin-top: 8px;
}
select#id_status.form-control {
  border: 0;
  outline: 1px solid #ccc; 
  outline-offset:-1px;
}
.btn-welcome {
  margin-left: 3px;
  margin-right: 3px;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
/* for jumbotron */
.jumbotron p {
  font-size: 15px;
  margin-bottom: 4px;
}
.jumbotron h3 {
  margin-top: 10px;
}
/* for carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
.carousel-caption {
  margin-bottom: 8%;
}
/* for footer */
.footer {
  width: 100%;
  height: 40px;
}
.container .text-muted {
  margin: 10px 0;
}
.modal-footer{
  text-align: left; 
}
/* for homepage */
.input-group-addon-to {
  border-left: 0;
  border-right: 0;
}
.search-group-box {
  padding-bottom: 20px;
}
.btn.disabled {
  cursor: default;
}
.container-travel-info-all {
  margin-top: 15px;
}
.container-travel-info-all p {
  margin-bottom: 5px;
}
/* for chatbox */
.container-chatbox{
  max-width: 350px;
  bottom: 0;
  right: 3%;
  position: fixed;
}
.travel-group-container{
  padding-bottom: 340px;
}
.panel-chatbox {
  margin-bottom: 0px;
}
#panel-body-chatbox{
  height: 260px;
  background-color: #eee;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow-x:hidden;
}
.row-msg {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 10px;
}
.msg-text-photo {
  padding: 3px;
}
.messages {
  background: white;
  padding: 8px;
}
p.msg-content {
  font-size: 13px;
  margin: 0;
}
p.msg-time-user {
  font-size: 11px;
  margin: 0;
  color: grey;
}
.chatbox-input-container {
  padding-right: 0px;
}
.inline-error {
  margin: 0;
  padding: 0;
}
/* for itinerary */
.row-itinerary-display {
  margin-top: 10px;
}
.itinerary_col_1 {
  width: 23%;
}
.itinerary_col_3 {
  width: 14%;
}
.itinerary-edit-delete-icon {
  margin-left: 2px;
  margin-right: 2px;
}
.pac-container {
  z-index: 10000 !important;
}
/* for itinerary map display */
#map {
  padding-left: 0;
  padding-right: 0;
  height: 450px;
}
/* for application page */
#message_title {
  font-family:Verdana;
  font-weight:bold;
  color: #FF6347;
}
#message_time {
  font-family:Verdana;
  font-style: italic;
}
#message {
  font-family: Verdana;
}
ul {
  list-style-type: none;
}

#invite_message_title {
  font-family:Verdana;
  font-weight:bold;
  color: #20B2AA;!important;
}
